<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base_url }}/style.css"/>
</head>
<body>
    <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>
