{% extends "base.html" %}
{% block content %}
<h1><em>Escape from the Underdark</em> forum archive</h1>
<p><b>Greetings, traveller!</b> This is an archive of the very first <i>Escape from the Underdark</i> forum, provided for your amusement and nostalgia. <b>Browse through the forums below</b>, <a href="{{ base_url }}/find.php">search for the way to the surface</a>, or <a href="#details">read more details about this archive</a>.</p>
<hr>
{%- for c in categories %}
<div class="category"><h2 id="{{ c.cat_title | slugify }}">{{ c.cat_title }}</h2>
    {%- for f in c.forums %}
    <p><a href="{{ base_url }}/{{ f.forum_path | safe }}">{{ f.forum_name }}</a></p>
    {%- endfor -%}
</div>
{% endfor %}
<hr>
<h3 id="details">Archive details</h3>
<p>The forum archive is a series of static HTML pages generated from the threads of <em>a selection</em> of topic categories. The archive is very basic; examples of limitations:</p>
<ul>
    <li>No by-user post grouping</li>
    <li><a href="{{ base_url }}/find.php">Best-effort search by post content and author</a></li>
    <li>Best-effort BBCode support</li>
    <li>Best-effort internal links</li>
</ul>
{% endblock content %}
