body {
  margin: 40px auto;
  padding 0 10px;
  font: 18px/1.5
    'avenir next',
    'Segoe UI',
    'helvetica neue', helvetica,
    Calibri,
    cantarell, oxygen, ubuntu,
    sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

blockquote {
  border-left: 2px solid grey;
  padding-left: .5em;
}

cite {
  display: block;
}

pre {
  background-color: #dee;
  padding: 3px;
  border: 1px dotted;
  overflow: auto;
}

.content {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 10px;
}

.category,
.topics {
  padding: 0 10px;
}

.topics {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.topic--title {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 0;
}

.topic--meta {
  margin-top: 0;
  color: #666;
  font-size: .9em;
}

.topic--author {
  grid-column-start: 1;
  grid-column-end: 2;
}

.topic--time {
  grid-column-start: 2;
  grid-column-end: 3;
}

.topic--announcement {
  background-color: #ea0;
}

.topic--sticky {
  background-color: #ebb;
}


.post:nth-child(even) {
  background-color: #eee;
}

.post--meta,
.post--body {
  border-top: 1px solid black;
}

.post--permalink,
.post--time {
  color: #666;
  font-size: .9em;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .post--permalink,
  .post--time {
    display: inline-block;
  }

  .post--time {
    width: 69%;
  }

  .post--permalink {
    text-align: end;
    width: 29%;
  }
}

@media (min-width: 700px) {
  .post--meta {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }

  .post--body {
    display: inline-block;
    width: 70%;
    vertical-align: top;
  }
}

@media (min-width: 1024px) {
  .post--meta {
    width: 20%;
  }

  .post--body {
    width: 80%;
  }
}
