{% extends "base.html" %}
{% block content %}
{% for p in posts -%}
{% if loop.first %}
<p><a href="{{ base_url }}">Home</a> &gt; <a href="{{ base_url }}/{{ p.forum_path }}">{{ p.forum_name }}</a></p>
<h2>{{ p.topic_title | safe }}</h2>
<div>
{%- endif %}
    <div id="post-{{ p.post_id }}" class="post">
        <div class="post--meta">
            <p class="post--author">{{ p.username }}</p>
            <p class="post--time">{{ p.post_time }}</p>
            <p class="post--permalink">
                <a href="#post-{{ p.post_id }}">#{{ p.post_id }}</a></p>
        </div><div class="post--body">{{ p.body | safe | nl_to_paragraph }}</div>
    </div>
{%- endfor -%}
</div>
{% endblock content %}
