{% extends "base.html" %}
{% block content %}
{%- for t in topics %}
{%- if loop.first %}
<p><a href="{{ base_url }}">Home</a></p>
<h2>{{ t.forum_name }}</h2>
<p>{{ t.forum_description }}</p>
<hr>
<div class="topics">
{%- endif -%}
    <p class="topic--title{% if t.topic_type == 2 %} topic--announcement{% elif t.topic_type == 1 %} topic--sticky{% endif %}"><a href="{{ base_url }}/{{ t.topic_path | safe }}">{{ t.topic_title | safe }}</a></p>
    <p class="topic--meta topic--author">{{ t.username }}</p>
    <p class="topic--meta topic--time">{{ t.topic_time }}</p>
{% endfor -%}
</div>
{% endblock content %}
